-
  mls: 'GLVAR'
  url: 'http://las.rets.interealty.com/Login.asmx/Login'
  username: 'user'
  password: 'secret'
  rets_version: '1.8'
  auth_mode: :digest
  useragent:
    name: 'user_agent_connector'
-
	mls: 'OTHER'
	url: 'http://some.rets.system.com/Login'
	username: 'username'
	password: 'supersecret'
	auth_mode: :basic
